body {
    background-color: #000000
}


p{
	text-align: left;
}

h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color:#b05080;
  text-transform: uppercase;
}
.app {
  
}

.main{
	margin: auto;
  font-family: 'Quattrocento', serif;
  font-weight: 200,
  font-size: 26px;
  line-height: 26px;
}
.title{
  margin: auto;
  text-align: right;
  font-family: 'Playfair Display SC', serif;
  font-weight: 700;
  text-transform: capitalize;
}  
.diagram{
  margin-right: 0px
}
.paradiagram{
  margin-left: 0px
}  
.illus{
  margin: auto;
  text-align: right;
}
.chapo{
  margin: auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400

}
.firstcharacter {
  color: #b05080;
  float: left;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
.signature{
  color: #82adc0;
  font-family: 'Playfair Display SC', serif;
  font-weight: 400;
  text-align: center
}