body {
    background-color: #000000
}


p{
	text-align: left;
}

h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color:#b05080;
}
.app {
  
}

.main{
	margin: auto;
  font-family: 'Slabo 27', serif;
  font-weight: 200,
  font-size: 24px;
  line-height: 26px;
}
.title{
  margin: auto;
  text-align: right;
  font-family: 'Playfair Display SC', serif;
  font-weight: 700

}  
.illus{
  margin: auto;
  text-align: left;
}
.chapo{
  margin: auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400

}
.firstcharacter {
  color: #b05080;
  float: left;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}